<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="35.1.37" targetFramework="net462" />
  <package id="Syncfusion.DocIO.WinForms" version="35.1.37" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="35.1.37" targetFramework="net462" />
  <package id="Syncfusion.Markdown" version="35.1.37" targetFramework="net462" />
  <package id="Syncfusion.OfficeChart.Base" version="35.1.37" targetFramework="net462" />
  <package id="Syncfusion.Telemetry" version="35.1.37" targetFramework="net462" />
</packages>