<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="18.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.DocIO.WinForms" version="18.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="18.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.OfficeChart.Base" version="18.2.0.44" targetFramework="net46" />
</packages>