<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="29.1.33" targetFramework="net462" />
  <package id="Syncfusion.DocIO.WinForms" version="29.1.33" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="29.1.33" targetFramework="net462" />
  <package id="Syncfusion.OfficeChart.Base" version="29.1.33" targetFramework="net462" />
</packages>